*~
.DS_Store
/doc/assignment1.blg
/doc/assignment1.log
/doc/assignment1.pdf
/doc/assignment1.aux
/doc/assignment1.bbl
/doc/assignment1.out
\#*#
/doc/assignment2.log
/doc/assignment2.out
/doc/assignment2.pdf
/doc/assignment2.aux
/doc/assignment2.bbl
/doc/assignment2.blg
